#
# Copyright (c) 2019 Lexmark International, Inc.
# Copyright (c) 2020 Immo Birnbaum
# SPDX-License-Identifier: Apache-2.0
#

if SOC_XILINX_ZYNQ7000

config SOC
	default "xilinx_zynq7000"

config NUM_IRQS
	int
	# must be >= the highest interrupt number used
	default 96

config 2ND_LVL_ISR_TBL_OFFSET
	default 1

config MAX_IRQ_PER_AGGREGATOR
	default 95

config NUM_2ND_LEVEL_AGGREGATORS
	default 1

endif
