#
# Kconfig - Cortex-A9 QEMU Emulation
#
# Copyright (c) 2020, Immo Birnbaum
# SPDX-License-Identifier: Apache-2.0
#

if BOARD_QEMU_CORTEX_A9

config BUILD_OUTPUT_BIN
	default n

config BOARD
	default "qemu_cortex_a9"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 333333333

config SYS_CLOCK_TICKS_PER_SEC
	default 1000
	
config FLASH_SIZE
	default $(dt_int_val,DT_FLASH_SIZE)

config FLASH_BASE_ADDRESS
	default $(dt_hex_val,DT_FLASH_BASE_ADDRESS)

if SERIAL

	config UART_XLNX_PS
	default y

endif # SERIAL

if NETWORKING

	config NET_L2_ETHERNET
	default y

	config ETH_XLNX_GEM
	default y

	config ETH_XLNX_GEM_PORT_0
	default y

	config ETH_XLNX_GEM_PORT_1
	default n

endif # NETWORKING

endif # BOARD_QEMU_CORTEX_A9
