/*
 * Copyright (c) 2019 Lexmark International, Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 */

#include <mem.h>
#include <arm/armv7-a.dtsi>
#include <dt-bindings/interrupt-controller/arm-gic-pl390.h>

/ {
    soc {
        interrupt-parent = <&gicpl390>;

        cpus {
            #address-cells = <1>;
            #size-cells = <0>;

            cpu@0 {
                device_type = "cpu";
                compatible = "arm,cortex-a9";
                reg = <0>;
            };
        };

        gicpl390: interrupt-controller@f8f01000 {
            compatible = "arm,v7a-gic-pl390";
            reg = <0xf8f01000 0x1000>,
                  <0xf8f00100 0x100>;
            interrupt-controller;
            #interrupt-cells = <3>;
            label = "gic-pl390";
            status = "okay";
        };

        eth0: ethernet@e000b000 {
            compatible = "xlnx,emacps";
            reg = <0xe000b000 0x1000>;
            status = "okay";
            interrupts = <55 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>,
                         <56 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>;
            interrupt-names = "irq_0", "irq_1";
            label = "eth0";
            local-mac-address = [00 80 41 01 02 03];
        };

        eth1: ethernet@e000c000 {
            compatible = "xlnx,emacps";
            reg = <0xe000c000 0x1000>;
            status = "okay";
            interrupts = <78 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>,
                         <79 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>;
            interrupt-names = "irq_0", "irq_1";
            label = "eth1";
            local-mac-address = [00 80 41 02 03 04];
        };

        uart0: uart@e0000000 {
            compatible = "xlnx,xuartps";
            reg = <0xe0000000 0x4c>;
            status = "okay";
            interrupts = <60 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>;
            interrupt-names = "irq_0";
            label = "uart0";
            current-speed = <115200>;
            clock-frequency = <50000000>;
        };

        uart1: uart@e0001000 {
            compatible = "xlnx,xuartps";
            reg = <0xe0001000 0x4c>;
            status = "okay";
            interrupts = <83 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>;
            interrupt-names = "irq_0";
            label = "uart1";
            current-speed = <115200>;
            clock-frequency = <50000000>;
        };

        ttc0: timer@f8001000 {
            compatible = "cdns,ttc";
            status = "okay";
            interrupts = <43 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>,
                         <44 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>,
                         <45 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>;
            interrupt-names = "irq_0", "irq_1", "irq_2";
            reg = <0xf8001000 0x1000>;
            clock-frequency = <111111111>;
            label = "ttc0";
        };

        ttc1: timer@f8002000 {
            compatible = "cdns,ttc";
            status = "disabled";
            interrupts = <70 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>,
                         <71 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>,
                         <72 IRQ_DEFAULT_PRIORITY SPI_IRQ_HIGH_LEVEL>;
            interrupt-names = "irq_0", "irq_1", "irq_2";
            reg = <0xf8002000 0x1000>;
            clock-frequency = <111111111>;
            label = "ttc1";
        };
    };
};
